html{
  background-color: #282c34;
}

*{
  /*color: #FFF;*/
  font-family: 'M+P', sans-serif;
}

body{
  color: #FFF;
}

.day_info{
  font-weight: normal;
  font-size: 2em;
  width: 50%;
  margin: 20px auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.drac-btn{
  font-family: 'M+P', sans-serif;
}

input{
  -webkit-appearance: textfield;
  background: var(--blackSecondary);
  border: .3rem solid transparent;
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  outline: none;
  transition: all .3s ease-in-out;
  width: 100%;
  padding: 10px;

  color: #d5d5d5;
}

.Square {
  background: var(--blackTernary);
  border: .3rem solid transparent;
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  outline: none;
  transition: all .3s ease-in-out;
  padding: 0;
  color: var(--blackSecondary);
  width: 50%;
}


.SquareFull{
  background: var(--blackTernary);
  border: .3rem solid transparent;
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  outline: none;
  transition: all .3s ease-in-out;
  padding: 0;
  color: var(--blackSecondary);
}

.Players{
  height: fit-content(100%);
}

.Log{
  background: var(--whiteLight);
  border: .3rem solid transparent;
  border-color:  var(--blackSecondary);
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  outline: none;
  transition: all .3s ease-in-out;
  padding: 5px;
  color: var(--blackSecondary);
}

.Controller{
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  height: 80px;
  background: var(--blackSecondary);
  border-top: .3rem solid transparent;
  border-color:  var(--blackSecondary);
}

.Phase{
  background: var(--blackTernary);
  border: .1rem solid transparent;
  border-radius: var(--rounded-lg);
  padding: 10px;
  margin: auto;
  width: 50%;
}
.phase_box{
  border-radius: var(--rounded-lg);
  font-weight: 800;
  padding: 8px 4px;
  writing-mode: vertical-rl;
}
.current_phase{
  background-color: yellow;
}

.Item{
  background: var(--blackSecondary);
  /*border: .3rem solid transparent;*/
  border-radius: var(--rounded-lg);
  /*box-sizing: border-box;*/
  /*outline: none;*/
  transition: all .3s ease-in-out;
  color: var(--blackTernary);
  /*line-height: 16px;*/
}

.life_img{

}

.life_img_dead{
  filter: grayscale(100%);
}

.text-outline{
  text-shadow: 0 0 10px #FFF;
}

#balloon {
  display: none;
  position: absolute;
  padding: 10px;
  background-color: #ffcc00;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  white-space: nowrap;
}

/* 三角形の吹き出し部分 */
#balloon::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #ffcc00 transparent transparent transparent;
}

/* トリガーボタン */
#trigger {
  margin-top: 100px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}