html{
  background-color: #282c34;
}

*{
  /*color: #FFF;*/
  font-family: 'M+P', sans-serif;
}

body{
  color: #FFF;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.drac-btn{
  font-family: 'M+P', sans-serif;
}

input{
  -webkit-appearance: textfield;
  background: var(--blackSecondary);
  border: .3rem solid transparent;
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  outline: none;
  transition: all .3s ease-in-out;
  width: 100%;
  padding: 10px;

  color: #d5d5d5;
}

.Square{
  background: var(--blackTernary);
  border: .3rem solid transparent;
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  outline: none;
  transition: all .3s ease-in-out;
  padding: 10px;
  margin: 10px;
  color: var(--blackSecondary);
}

.Item{
  background: var(--blackSecondary);
  /*border: .3rem solid transparent;*/
  border-radius: var(--rounded-lg);
  /*box-sizing: border-box;*/
  /*outline: none;*/
  transition: all .3s ease-in-out;
  color: var(--blackTernary);
}